doctype html
html
    head
        meta(charset='utf-8')
        title Portfolio Maxim Strnad
        meta(name='description', content='Osobní portfolio - Maxim Strnad')
        meta(name='author', content='Maxim Strnad')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anton|Exo|Rock+Salt')
        link(rel='stylesheet', type='text/css', href='styles/main_css.css')
    body
    #navbar-top.navbar-fixed-top.container-fluid
            .row
                #navbar.col-xs-8.col-sm-offset-2.hidden-sm.hidden-xs
                    ul.nav.navbar-nav.nav-default
                        li.navbar-brand
                            h3#max max
                        li
                            a O mě
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Projekty
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='#wikipedie') Wikipedie
                                li.divider(role='separator')
                                li
                                    a(href='#koncept9') Koncept #9
                        li
                            a Kontakty
            .col-xs-12.hidden-lg.hidden-md
                .row
                    h3#maxsec.navbar-brand Max
                    ul.nav.pull-right
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', style='display:inline-block')
                                h3#menu Menu
                                span.glyphicon.glyphicon-th
                            ul#dropdown-menu.dropdown-menu
                                li
                                    a(href='#') O mně
                                li
                                    a(href='#projekty') Projekty
                                li
                                    a(href='#') Kontakty
        .container-fluid.main.main-content
            .row.row-top
                .col-xs-12
                    h1#header-head.text-center Ahojky.
            .row
                .col-xs-8.col-xs-offset-2
                    p#header-text.text-center
                        | Jsem student střední školy a zaměřuji se na tvorbu webových stránek, konkrétně front endu. Jsem mladý student IT a již v mládí jsem projevoval zájem o počítače.
            .main
                .row.row-top
                    .col-xs-12.col-md-4
                        .hexagon
                            span
                                a.text-center.hexagon-link O mě
                    .col-xs-12.col-md-4
                        .hexagon
                            span
                                a.text-center.hexagon-link(href='#projekty') Projekty
                    .col-xs-12.col-md-4
                        .hexagon
                            span
                                a.text-center.hexagon-link Kontakty
        #projekty.container-fluid.secondpage.section
            .row
                .col-md-12.col-xs-10.col-xs-offset-1.col-md-offset-0
                    .row
                        .col-xs-1.pull-right.hidden-sm.hidden-xs
                        .col-md-5.col-md-offset-0.col-sm-12.col-sm-offset-0.pull-right
                            article
                                h2#konceptheading Koncept #9
                                hr
                                p
                                    | Projekt momentálně nemá žádné využití ale třeba jednou bude. Projekt jsem založil abych se částečně naučil a procvižil javascript a jQuery a použití knihoven. Do projektu se mi podařilo začlenit i řetezce JSON. Projekt mě naučil práce vektorové grafiky, kterou jsem zhotovil v programu Adobe Illustrator. Celému projektu jsem se snažil dát moderní
                                    i hi tech
                                    |  nádech. Dále je v něm využito několik zajímavích JS knihoven které by vám mohly přijít na chuť.
                        .col-md-5.col-md-offset-1.col-sm-12.col-sm-offset-0
                            img.img-responsive.img-rounded.koncept(src='media/images/hitech.png')
        .container-fluid.secondpage.section.section2
            .row.row-top
                .col-md-12.col-xs-10.col-xs-offset-1.col-md-offset-0
                    .row
                        #wikipedie.col-md-5.col-md-offset-1.col-sm-12.col-sm-offset-0
                            article
                                h2#wikiheading Wikipedie
                                hr
                                p
                                    | Wikipedie je školní projekt zaměřen na přiblížení se k funkčnosti wikipeide. Cílem bylo vytvoření indexové stránky, 3 stránek imitující wikipedii ,které se věnují zemím Jižní Ameriky. Dále mapy které jsem vyřešil přes google API. V projektu jsem používal html,css,bootstrap a trochu javascriptu na slider který se nachází na indexové stránce.
                        .col-xs-1.pull-right.hidden-sm.hidden-xs
                        .col-md-5.col-md-offset-0.col-sm-offset-0.col-sm-12
                            img.img-responsive.img-rounded.argentina(src='media/images/argentina.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='main_javascript.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
